<div class="nav-items">
    <div class="sidebar">
        <ul>
            <li>
                <a href="#">
                    <div><strong>Course Code</strong>
                       <h6>BA3102</h6></div>
                </a>
            </li>
            <li>
                <a href="#">
                <div><strong>Course Name</strong>
                    <h6>Quantitative techniques</h6></div>
                </a>
            </li>
            <li>
                <a href="#">
                <div><strong>Course Type</strong>
                    <h6>Program Elective</h6></div>
            </a>
            </li>
            <li>
                <a href="#">
                <div><strong>Course Period</strong>
                    <h6>Semester - I</h6></div>
            </a>
            </li>
            <br>
            <li>
                <a href="#">
                <div class="menu-item"><strong>Credits(4)</strong>
                        <p id="credits">Lecture   - 3</p>
                        <p id="credits">Tutorial  - 0</p>
                        <p id="credits">Practical - 1</p>
                        <p id="credits">Project   - 0</p></div>
            </a>
            </li>
            <br>
            <br>
            <li>
                <br>
                <a href="#">
                    <div class="container">
                        <h4><strong>Course Outcomes(C0s)</strong></h4>
                    <div class="column">
                        <button id="buttonA">C02</button>&nbsp;
                        <button id="buttonB">C04</button>&nbsp;
                        <button id="buttonC">C05</button>&nbsp;
                    </div><br>
                    <div class="column">
                        <button id="buttonC2">C07</button>&nbsp;
                        <button id="buttonB2">C013</button>&nbsp;
                        <button id="buttonA2">C014</button>&nbsp;
                    </div>
                </div>
            </a>
            </li>
            <br>
            <br>
            <li>
                <a href="#">
                    <div class="container">
                        <h4><strong>Mapped to this course</strong></h4>
                    <div class="column2">
                        <button style="background-color:#bfc2f9;" id="buttonA">P07</button>&nbsp;
                        <button  style="background-color:#bfc2f9;" id="buttonB">P010</button>&nbsp;
                        <button  style="background-color:#bfc2f9;" id="buttonC">P012</button>&nbsp;
                    </div><br>
                    <div class="column">
                        <button  style="background-color:#bfc2f9;" id="buttonC2">Po8</button>
                    </div>
                </div>
            </a>
            </li>
        </ul>
    </div>
</div>